 /* CSS Attribute Selectors  In css */
 /* <a> elements with title attribute  */
 /* 
    a[title] {
        color: yellow;
 }
  */
  /* <a> elements with an href matching "http:example.org" */
 /* 
    a[href="http://example.org"] {
        color: green;
 } 
 */
  /* <a> elements with an href containing "example" */
 /* 
    a[href*="example"] {
        font-size: 2em; 
 }
 /* 
  <a> elements with an href ending ".org" */
 /* 
    a[href$=".org"] {
        font-style: italic;
    }
 /* 
  <a> elements whose class attribute contain the word "logo"  */
 /*
     a[class-="logo"] {
        padding: 2px;
 } 
 */